body {
    background-color: #0E749A;;
}

h1 {
  position: absolute;
width: 272px;
height: 43px;
left: 260px;
top: 10px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: 0.185em;

color: #000000;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), 
         local('Roboto-Regular'), 
         url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
         format('woff');
  }

/* Navagtion bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0E6C8F;
    position: absolute;
    width: 969px;
    height: 61px;
    left: 467px;
    top: 0px;
  }
  
  li {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 90px;
    text-decoration: none;
    font-family: Roboto;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    
  }
  
li:hover {
    font-size: 20px;
  }

 /* login page  */
.login {
  position: absolute;
  width: 539px;
  height: 252px;
  left: 401px;
  top: 274px;

  background: #004A66;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
} 

.loginText {
  position: absolute;
  height: 300px;
  width: 200px;
  left: 170px;
  top: 60px;
}

.loginText textarea {
  margin: 5px;
  width: 200px;
  height: 25px;
  border-radius: 21px;
  text-align: center;

}

.loginText input {
  position: absolute;
  left: 39.91%;
  
  background: #7BA58C;
  box-shadow: 0px 4px 4px rgba(77, 77, 77, 0.25);
  border-radius: 27px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.185em;

  color: white;

  transition-duration: 0.4s;
  
}

.loginText input:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.loginLogo {
  max-width: 40%;
  height: auto;
  margin-left: 390px;
  margin-top: 0px;
}


/* porkslope logo */
.logo {
    height: 90px;
    width: 240px;
  }


 /* Category buttons  */
.grocery {
    position: absolute;
    height: 700px;
    width: 700px;
    left: 350px;
    top: 95px;
}

#cheese {
    position: absolute;
  width: 92px;
  height: 194px;
  left: 750px;
  top: 112px;
}

#vegetables {
  position: absolute;
  width: 92px;
  height: 206px;
  left: 925px;
  top: 218px;
}

#fish {
  position: absolute;
  width: 103px;
  height: 205px;
  left: 920px;
  top: 440px;
}

#meat {
  position: absolute;
  width: 178px;
  height: 160px;
  left: 669px;
  top: 606px;
}

#products{
  position: absolute;
  width: 154px;
  height: 213px;
  left: 423px;
  top: 529px;
}

#coffee{
  position: absolute;
  width: 83px;
  height: 170px;
  left: 401px;
  top: 290px;
}

#fruit{
  position: absolute;
  width: 148px;
  height: 138px;
  left: 474px;
  top: 148px;
}

.categories:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/*cart display  */

.cart {
  position: absolute;
width: 780px;
height: 910px;
left: 470px;
top: 123px;

background: #F8F7F1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 3px;
}


table{
  position: absolute;
width: 740px;
left: 20px;
top: 90px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 28px;
text-align: center;
letter-spacing: 0.185em;

color: #000000;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px 30px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.total {
  position: absolute;
  width: 263px;
  height: 219px;
  left: 140px;
  top: 123px;

  background: #004A66;
}

.total h2 {
  position: absolute;
width: 118px;
height: 49px;
left: 20px;
top: 20px;

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: 0.185em;

color: #F8F7F1;
}

.innertotal {
  position: absolute;
  width: 83px;
  height: 47px;
  left: 140px;
  top: 30px;

  background: #F8F7F1;
  border-radius: 9px;
}

.innertotal h3 {
  font-size: 20px;
  color: #000000;
}

.checkbox {
  color: #dddddd;
  position: absolute;
  width: 200px;
  height: 47px;
  left: 30px;
  top: 120px;

  background:   #005270;
  text-align: center;
  border-radius: 9px;
}
  

